<% provide(:title, 'Auditions') %>
<% provide(:jumbotron_class, 'events') %>

<%= render 'layouts/jumbotron' %>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="lead text-center">Auditions for VPAC groups have been completed for the semester, but information on
          the next round of auditions will be posted at the end of the semester. In the meantime, feel free to stop by a
          general body meeting or performance to learn more about getting involved in your favorite VPAC group.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>