<% provide(:title, 'Calendar') %>
<% provide(:jumbotron_class, 'events') %>

<%= render 'layouts/jumbotron' %>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="embed-responsive embed-responsive-16by9 hidden-xs">
          <iframe src="https://www.google.com/calendar/embed?src=vanderbiltvpac%40gmail.com&amp;showTitle=0&amp;showCalendars=0&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=America%2FChicago" style=" border-width:0 " scrolling="no"></iframe>
        </div>
        <div class="embed-responsive embed-responsive-4by3 visible-xs-block">
          <iframe src="https://www.google.com/calendar/embed?src=vanderbiltvpac%40gmail.com&amp;showTitle=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;ctz=America%2FChicago" style=" border-width:0 " scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>