<% provide(:title, 'Calendar') %>
<% provide(:jumbotron_class, 'events') %>

<%= render 'layouts/jumbotron' %>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="responsive-iframe-container">
          <iframe src="http://www.google.com/calendar/embed?showTitle=0&src=vanderbilt.edu_6l9p34334bu57lp29bdf9vu2gg%40group.calendar.google.com&ctz=America/Chicago" style="border: 0" width=100% height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>