<% provide(:title, 'Contact') %>

<div class="jumbotron jumbotron-contact">
  <div class="container">
    <h1><%= yield(:title) %></h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <form role="form">
      <div class="form-group">
        <label for="name-input">Name</label>
        <input type="text" class="form-control" id="name-input" placeholder="Your Name">
      </div>
      <div class="form-group">
        <label for="email-input">Email Address</label>
        <input type="email" class="form-control" id="email-input" placeholder="Your Email Address">
      </div>
      <div class="form-group">
        <label for="comments-input">Comments</label>
        <textarea class="form-control" rows="4" placeholder="Comments..."></textarea>
      </div>
      <button type="submit" class="btn btn-default btn-about pull-right">Submit</button>
    </form>
  </div>
</div>

<%= render 'layouts/footer' %>