<% provide(:title, 'Contact') %>

<div class="hero-unit">
  <h1>Contact</h1>
</div>

<div class="form">
  <form>
    <fieldset>
      <label>Name</label>
      <input class="input-block-level" type="text" placeholder="Your Name" autofocus>

      <label>Email Address</label>
      <input class="input-block-level" type="email" placeholder="Your Email Address">

      <label>Comments</label>
      <textarea class="input-block-level" rows="4" placeholder="Comments..."></textarea>

      <button type="submit" class="btn pull-right btn-about">Submit</button>
    </fieldset>
  </form>
</div>