<% provide(:title, 'History') %>
<% provide(:jumbotron_class, 'about') %>

<%= render 'layouts/jumbotron' %>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="lead text-center">In the fall of 2006, a group of Vanderbilt students established VPAC with a purpose
          of uniting the performing arts community at Vanderbilt. Inspired by Princeton University’s Performing Arts
          Council (PPAC), VPAC created a forum for its 16 original groups to collaborate and advocate for the performing
          arts. In its first year as an organization, VPAC hosted the debut performance of <em>Spotlight</em>, a
          production designed to showcase and recruit talent within the Vanderbilt student population.</p>

        <p class="lead text-center">Years later, VPAC has expanded and grown to now represent 26 unique organizations
          who specialize in dance, music, theatre, comedy, and much more. While the original Board was established by
          members of JPAC and Vandy Taal, the current Board consists of members of 10 different organizations, including
          BhangraDores, Harmonic Notion, Masala-SACE, Momentum, The Original Cast, Vanderbilt Off-Broadway, Vanderbilt
          University Concert Choir, Vanderbilt University Theatre, VIBE, and Voce. In addition to the annual
          <em>Spotlight</em> showcase, VPAC produces monthly performances through <em>Main Attraction</em> and
          finishes the year with
          <em>Encore</em>, an awards showcase.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>