<div class="container" id="carousel-wrapper">
  <div class="row">
    <div class="col-xs-12" id="col-carousel">
      <div id="news-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#news-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#news-carousel" data-slide-to="1"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active" id="first-item">
            <div class="carousel-caption">
              <h4>VUT Banquet 2013</h4>

              <p>Vanderbilt University Theatre gathered for its annual banquet last Monday to celebrate a year of
                wonderful shows and bid adieu to its senior members.</p>
            </div>
          </div>
          <div class="item" id="second-item">
            <div class="carousel-caption">
              <h4>24-Hour Production 2013</h4>

              <p>Here's the 24-Hour Production just doing their thing.</p>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#news-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#news-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>