<div class="container" id="carousel-wrapper">
  <div class="row">
    <div class="col-xs-12" id="col-carousel">
      <div id="news-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#news-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#news-carousel" data-slide-to="1"></li>
          <li data-target="#news-carousel" data-slide-to="2"></li>
          <li data-target="#news-carousel" data-slide-to="3"></li>
          <li data-target="#news-carousel" data-slide-to="4"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active" id="first-item">
          </div>
          <div class="item" id="second-item">
            <div class="carousel-caption">
              <h2>BhangraDores</h2>

              <p class="lead">Here are the BhangraDores!</p>
            </div>
          </div>
          <div class="item" id="third-item">
            <div class="carousel-caption">
              <h2>ICCA</h2>

              <p class="lead">Check out those ICCAers man!</p>
            </div>
          </div>
          <div class="item" id="fourth-item">
            <div class="carousel-caption">
              <h2>Tap That!</h2>

              <p class="lead">They had their first show!</p>
            </div>
          </div>
          <div class="item" id="fifth-item">
            <div class="carousel-caption">
              <h2>TNC</h2>

              <p class="lead">They went to Nationals!</p>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#news-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#news-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>