<div class="container" id="carousel-wrapper">
  <div class="row">
    <div class="col-xs-12" id="col-carousel">
      <div id="news-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#news-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#news-carousel" data-slide-to="1"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active" id="first-item">
            <div class="carousel-caption">
              <h4>VPAC Goes Online</h4>

              <p>We finally have a website! Hallelu!</p>
            </div>
          </div>
          <div class="item" id="second-item">
            <div class="carousel-caption">
              <h4>BhangraDores</h4>

              <p>Here are the BhangraDores!</p>
            </div>
          </div>
          <div class="item" id="third-item">
            <div class="carousel-caption">
              <h4>ICCA</h4>

              <p>Check out those ICCAers man!</p>
            </div>
          </div>
          <div class="item" id="fourth-item">
            <div class="carousel-caption">
              <h4>Tap That!</h4>

              <p>They had their first show!</p>
            </div>
          </div>
          <div class="item" id="fifth-item">
            <div class="carousel-caption">
              <h4>TNC</h4>

              <p>They went to Nationals!</p>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#news-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#news-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>