<div class="container" id="carousel-wrapper">
  <div class="row">
    <div class="col-xs-12" id="col-carousel">
      <div id="news-carousel" class="carousel slide" data-ride="carousel" data-pause="" data-interval="7000">
        <ol class="carousel-indicators">
          <li data-target="#news-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#news-carousel" data-slide-to="1"></li>
          <li data-target="#news-carousel" data-slide-to="2"></li>
          <li data-target="#news-carousel" data-slide-to="3"></li>
          <li data-target="#news-carousel" data-slide-to="4"></li>
          <li data-target="#news-carousel" data-slide-to="5"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <% @carousel_items.each do |carousel_item| %>
            <div class="item<% if carousel_item.order == 1 %> active<% end %>">
              <%= image_tag carousel_item.image.image_url, class: 'img-responsive' %>
            </div>
          <% end %>
        </div>
        <!-- Carousel nav -->
        <a class="left carousel-control" href="#news-carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#news-carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>