<% provide(:title, 'Mission') %>

<div class="hero-unit hero-unit-about">
  <h1>Mission</h1>
</div>

<div class="container">
  <p>The mission of VPAC is to unite the Vanderbilt performing arts community.</p>
</div>

<%= render 'layouts/footer' %>