<% provide(:title, 'Mission') %>

<div class="jumbotron jumbotron-about">
  <div class="container">
    <h1>Mission</h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="mission-image-container"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="lead text-center">The Vanderbilt Performing Arts Council (VPAC) brings together and advocates for the
          members of the performing arts community at Vanderbilt. In an effort to build a campus and local community
          that celebrates and values the performing arts, VPAC strives to foster collaboration and support among its 26
          member groups. VPAC functions under the governance of its seven values: communication, collaboration,
          diversity, culture, community, impact, and openness.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>