<% provide(:title, 'Reserve Space') %>
<% provide(:jumbotron_class, 'resources') %>

<%= render 'layouts/jumbotron' %>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Standing Reservations</h2>

        <p class="lead">Each semester, VPAC provides its organizations with the opportunity to reserve
          spaces for recurring rehearsals with the Reservations and Events Office for the upcoming semester. Each group
          is allowed 2 time slots for any rehearsal space on campus to be used solely for weekly rehearsals or another
          recurring event. Groups also have the opportunity to reserve a third standing reservation that will be
          confirmed with the Reservations and Events Office on a monthly basis.</p>

        <h2>Additional Space</h2>

        <p class="lead">If a group is in need of space for non-recurring meetings or rehearsals, they may
          reserve space through <a href="https://apphost1a.its.vanderbilt.edu/ems-osr/" target="_blank">Virtual EMS</a>,
          Vanderbilt’s online reservation system. Once an account is requested and
          created, a group leader is able to look through rooms based on location, size, or function, and submit
          reservation requests that will be directed to the Reservations and Events Office.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>