<% provide(:title, 'Spotlight') %>

<div class="hero-unit hero-unit-events">
  <h1>Spotlight</h1>
</div>

<div class="container container-content">
  <%= image_tag('', alt: 'Spotlight Poster', class: [ 'img-rounded', 'poster', 'pull-left' ]) %>
  <p class="pull-left poster-text">This is some text about Spotlight. It's full of tons of useful information about the event.</p>
</div>

<%= render 'layouts/footer' %>