<% provide(:title, 'AcFee Help') %>
<% provide(:jumbotron_class, 'resources') %>

<%= render 'layouts/jumbotron' %>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel-group" id="accordion">
          <%= render partial: 'layouts/topic', collection: @acfee_topics %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
