// Place all the styles related to the BoardMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-member-row {
  margin-bottom: 20px;
}

img.board-photo {
  width: 425px;
  height: 425px;
}

@media (min-width: 768px) {
  .top-column-header {
    margin-top: 0;
  }
}

.top-column-header, .column-header {
  margin-bottom: 5px;
}