$deepPurple: #18172b;
$lightGray: #b5b5b5;
$brightRed: rgba(160,48,37,1);
$mutedRed: rgba(160,48,37,0.9);

$aboutRed: #b63b31;
$resourcesGreen: #86a90f;
$eventsYellow: #e3a32b;
$mediaBlue: #216694;

$redGradient: linear-gradient(to top, rgba(182,59,49,1), rgba(182,59,49,0.95) 82%, rgba(182,59,49,0.9));
$yellowGradient: linear-gradient(to top, rgba(227,163,43,1), rgba(227,163,43,0.95) 82%, rgba(227,163,43,0.9));
$greenGradient: linear-gradient(to top, rgba(134,169,15,1), rgba(134,169,15,0.95) 82%, rgba(134,169,15,0.9));
$blueGradient: linear-gradient(to top, rgba(33,102,148,1), rgba(33,102,148,0.95) 82%, rgba(33,102,148,0.9));

$whiteTextGradient: linear-gradient(to top, rgba(255,255,255,1), rgba(207,208,210,1));

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
  background-color: $deepPurple;
}

@font-face {
  font-family: "Avenir Light";
  src: url('../Avenir_Light.ttf');
}

@font-face {
  font-family: "Myriad Pro";
  src: url('../MyriadPro_Regular.otf');
}

// Navbar

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: $deepPurple;
  border-color: $deepPurple;
}

.navbar-brand {
  padding: 5px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

@media (max-width: $screen-xs-max) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
}

.navbar-inverse .navbar-nav {
  a:hover {
    text-decoration: underline;
  }

  .dropdown-menu > li > a {
    text-decoration: none;
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  &#dropdown-toggle-about {
    background-color: $aboutRed;
  }

  &#dropdown-toggle-resources {
    background-color: $resourcesGreen;
  }

  &#dropdown-toggle-events {
    background-color: $eventsYellow;
  }
}

.dropdown-menu {
  border-top: 0;

  &#dropdown-menu-about {
    background-color: $aboutRed;
  }

  &#dropdown-menu-resources {
    background-color: $resourcesGreen;
  }

  &#dropdown-menu-events {
    background-color: $eventsYellow;
  }

  > li > a {
    color: white;
  }
}

/*header {
  font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: white;

  //line-height: 47px;

  * {
    #line-height: inherit;
  }
}*/

// Carousel

#carousel-wrapper {
  width: 100%;
}

/*.carousel, .item {
  height: 660px;

  @media (max-width: $screen-sm-min) {
    height: 340px;
  }
}*/

#col-carousel {
  padding: 0;
}

/*#first-item, #second-item, #third-item, #fourth-item, #fifth-item, #sixth-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  //height: 202.32px;
}*/

/*#first-item {
  background-image: url(image_path('carousel1.png'));
}

#second-item {
  background-image: url(image_path('carousel2.png'));
}

#third-item {
  background-image: url(image_path('carousel3.png'));
}

#fourth-item {
  background-image: url(image_path('carousel4.png'));
}

#fifth-item {
  background-image: url(image_path('carousel5.png'));
}

#sixth-item {
  background-image: url(image_path('carousel6.png'));
}*/

// Jumbotron

.jumbotron {
  color: white;
  background-color: #ffffff;
  margin-bottom: 0;

  &.jumbotron-about, &.jumbotron-contact {
    background: $redGradient;
  }

  &.jumbotron-resources {
    background: $greenGradient;
  }

  &.jumbotron-events {
    background: $yellowGradient;
  }
}

.container-content {
  background-color: #ffffff;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

#mission-image-container {
  background-image: url(image_path('mission.png'));
  background-repeat: no-repeat;
  //background-position: -100px -350px;
  background-size: cover;
  width: 100%;
  height: 202.32px;
  margin-bottom: 30px;
}

// Current Board and Member Groups

.board-member-row, .member-group-row {
  margin-bottom: 20px;
}

img.board-photo, img.member-group-photo {
  width: 458px;
  height: 458px;

  @media (max-width: $screen-xs-max) {
    width: 290px;
    height: 290px;
  }
}

@media (min-width: $screen-sm-min) {
  .top-column-header {
    margin-top: 0;
  }
}

.top-column-header, .column-header {
  margin-bottom: 5px;
}

// Event Pages

.poster {
  width: 100%;
  height: 100%;
}

@media (max-width: $screen-xs-max) {
  .event-description {
    margin-top: 20px;
  }
}

.event-schedule {
  //text-align: center;
}

// Contact Form

form {
  @media (min-width: $screen-sm-min) {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }

  /*font-family: "Avenir Light";
  font-size: 1.725em;*/

  /*input.input-block-level {
    margin-bottom: 32px;
  }

  textarea.input-block-level {
    margin-bottom: 26px;
  }*/

  .btn-about {
    color: white;
    //width: 138px;
    //height: 40px;

    //background-color: $brightRed;
    //*background-color: $mutedRed;
    background-image: $redGradient;

    &:active, &:hover {
      //color: white;
      background-color: $brightRed;
    }
  }
}

// Footer

footer {
  div#icons {
    text-align: center;
    line-height: 29px;
    margin-top: 22px;

    ul li.divider {
      padding-left: 25px;
      padding-right: 25px;
    }

    ul li#anchor-logo {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  p#copyright-text {
    color: white;
    text-align: center;
    font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  }
}