$deepPurple: #18172b;
$lightGray: #b5b5b5;
$redGradient: linear-gradient(to top, rgba(160,48,37,1), rgba(160,48,37,0.95) 82%, rgba(160,48,37,0.9));

$navbarBackground: $deepPurple;

@import "bootstrap";

// We add this in between the responsive CSS as requested in the navbar docs.
body {
  padding-top: 70px;
}

@import "bootstrap-responsive";

@font-face {
  font-family: "Avenir Light";
  src: url('../Avenir_Light.ttf');
}

@font-face {
  font-family: "Myriad Pro";
  src: url('../MyriadPro_Regular.otf');
}

header {
  font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: white;
  line-height: 47px;

  * {
    line-height: inherit;
  }
}

.hero-unit {
  background: $redGradient;
}

form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  font-family: "Avenir Light";
  font-size: 1.725em;

  input.input-block-level {
    margin-bottom: 32px;
  }

  textarea.input-block-level {
    margin-bottom: 26px;
  }

  .btn {
    color: white;
    width: 138px;
    height: 40px;
  }

  .about-btn {
    background: $redGradient;
  }
}

footer {
  div.navbar {
    background-color: $deepPurple;

    div#icons {
      text-align: center;
      line-height: 29px;
      margin-top: 22px;
      margin-bottom: 13px;

      * {
        line-height: inherit;
      }

      ul {
        list-style: none;
        width: 320px;
        margin-left: auto;
        margin-right: auto;

        li {
          display: inline-block;

          &.divider {
            margin-left: 33px;
            margin-right: 33px;
          }
        }
      }
    }

    div#copyright-text {
      color: $lightGray;
      text-align: center;
      font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
      font-size: 1.313em;
      margin-bottom: 9px;
    }
  }
}