// Place all the styles related to the MemberGroups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.member-group-row {
  margin-bottom: 20px;
}

img.member-group-photo {
  width: 285px;
  height: 425px;
}

/*.top-column-header {
  margin-top: 0;
}*/

.top-column-header, .column-header {
  margin-bottom: 5px;
}
