<div class="jumbotron jumbotron-events">
  <div class="container">
    <h1><%= @event.event_name %></h1>
  </div>
</div>

<div class="container-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= image_tag @event.image.resolve.image_url,
                      class: 'img-rounded poster img-responsive' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="event-description lead"><%= @event.description %></p>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>